@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.img {
    border-radius: 10px 10px 0px 0px;
    width: 350px;
    height: 200px;
    object-fit: cover;
}
.fa-search {
    font-size: 0em;
}
input {
    padding: 11px;
    border: 1px solid #F2F2F2;
}

.sec-1 {
    margin: 30px;
}

.sec-2 {
    margin: 30px;
}

.sec-3 {
    margin: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
}

.logo {
    display: flex;
    }
    
#nav-bas-d {
    margin: 0 20px 0 20px;
}

.color-blue {
    color: black;
}

.color-blue:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 31px;
}

#activites {
    margin-left: 40px;
    margin-right: 40px;
}

.h1 {
    font-weight: bold;
}

.filtresderecherche {
    color: #0065FC;
}
.margfilter {
    margin: 0 10px 0 10px;
    font-weight: bold;
}
.background-icon {
    background: #DEEBFF;
    border-radius: 50px;
    padding: 10px;
}

#info {
    margin-top: 10px;    
    margin-right: 15px;
}
.filter {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.filterresponsive {
    display: flex;
}
.filtermarg {
    display: flex;
    margin: 10px 0px 10px 40px;
    cursor: pointer;
}
#eco {
    display: flex;
    align-items: center;
    border: solid #F2F2F2;
    border-radius: 50px;
}
#eco:hover {
    color: #0059fd;
    border: solid #0059fd;
}
#fami {
    display: flex;
    align-items: center;
    border: solid #F2F2F2;
    border-radius: 50px;
}
#fami:hover {
    color: #0059fd;
    border: solid #0059fd;
}

#love {
    display: flex;
    align-items: center;
    border: solid #F2F2F2;
    border-radius: 50px;
}
#love:hover {
    color: #0059fd;
    border: solid #0059fd;
}

#dog {
    display: flex;
    align-items: center;
    border: solid #F2F2F2;
    border-radius: 50px;
}

#dog:hover {
    color: #0059fd;
    border: solid #0059fd;
}

#inscrip {
    color: #0065FC;
    font-weight: 600;
}

.btn {  
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    width: 90px;
    height: 40px;
    color: white;
    border: 0px;
}

.marker {
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding: 12px;
}

.cherche {
    margin-top: 10px;
}

.blue-star {
    color: #0065FC;
}

.gray-star {
    color: #868686;
}

#title-marseille {
    grid-column: 1;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: flex-start;
    margin: 30px 0px 20px 25px;
}

#aff {
    grid-column: 1;
    grid-row: 4;
    justify-self: flex-start;
    margin-left: 25px;
    font-weight: bold;
}

.part-1 {
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-areas: 
        "part1 part2"
}

.room {
    grid-area: part1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 40% 40% 10%;
    grid-column-gap: 0px;
    background-color: #F2F2F2;
    border-radius: 10px;
    align-items: center;
    place-items: center;
    max-width: 1200px;
}
.room-top {
    background-color: #F2F2F2;
    border-radius: 10px;
}
#img-auberge-cannebiere {
    grid-column: 1;
    grid-row: 2;
    background-color: #fffdfd;
    border-radius: 10px;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px rgb(151, 145, 145);
}

#img-hotel-port {
    grid-column: 2;
    grid-row: 2;
    background-color: #fffdfd;
    border-radius: 10px;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px rgb(151, 145, 145);
}

#img-hotel-mouettes {
    grid-column: 3;
    grid-row: 2;
    background-color: #fffdfd;
    border-radius: 10px;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px rgb(151, 145, 145);
}

#img-hotel-mer {
    margin-top: 40px;
    grid-column: 1;
    grid-row: 3;
    background-color: #fffdfd;
    border-radius: 10px;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px rgb(151, 145, 145);
}

#img-auberge-panier {
    margin-top: 40px;
    grid-column: 2;
    grid-row: 3;
    background-color: #fffdfd;
    border-radius: 10px;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px rgb(151, 145, 145);
}

#img-hotel-amina {
    margin-top: 40px;
    grid-column: 3;
    grid-row: 3;
    background-color: #fffdfd;
    border-radius: 10px;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px rgb(151, 145, 145);
}

.imga {
    border-radius: 10px 0px 0px 10px;
    width: 200px;
    height: 190px;
    object-fit: cover;
}

.aligntextandstars {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stars-down {
    flex: 1;
}

#h2pop {
    margin: 30px 0px 20px 25px;
    display: flex;
    justify-content: space-between;
}

#trend { 
    margin-right: 20px;
}

.br {
    margin-top: 10px;
    margin-bottom: 20px;
}

.brplus {
    margin-top: 20px;
}

.text-align-start {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.hebergement-populaire  {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    margin-top: 40px;
    box-shadow: 1px 1px 10px 1px rgb(151, 145, 145);
}

.img-background {
    background-color: #fffdfd;
    border-radius: 10px;
}

.img-medium {
    border-radius: 10px 10px 0px 0px;
    width: 420px;
    height: 280px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

#img-pomegues {
    border-radius: 10px 10px 0px 0px;
    width: 420px;
    height: 320px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

#img-frioul {
    border-radius: 10px 10px 0px 0px;
    width: 420px;
    height: 230px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.img-big {
    border-radius: 10px 10px 0px 0px;
    width: 420px;
    height: 650px;
    object-fit: cover;
}

.titleactiviter {
    margin: 15px 0px 0px 15px;
}

.activiter {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shadow {
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 1px rgb(151, 145, 145);
    border-radius: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

#bottom-marg {
    margin-bottom: 20px;
}

footer {
    background-color: #c4c3c3;
    padding: 20px;
}

#endall {
    display: flex;
    justify-content: space-around;
    margin: 40px 500px 40px 0px;
    height: 100px;
}

.nos-hebergements {
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 1850px) {
    .room, .room-top {
       max-width: 95%;
    }
    #img-auberge-cannebiere, #img-hotel-port, #img-hotel-mouettes, #img-hotel-mer, #img-auberge-panier, #img-hotel-amina {
        max-width: 90%;
        height: 80%;
     }
     .img {
         max-width: 100%;
         max-height: 50%;
     }
     .sec-3, #activiter, .activiter {
        max-width: 100%;
     }
     .img-medium {
        max-width: 100%;
    }
    .img-big {
        max-width: 100%;
    }
    .imga {
        max-width: 200px;
    }
    #img-frioul {
        max-width: 100%;
    }
    #img-pomegues {
        max-width: 100%;
    }
}

@media screen and (max-width: 1350px) {
    .room, .room-top {
       max-width: 95%;
       max-height: 90%;
    }
    #img-auberge-cannebiere, #img-hotel-port, #img-hotel-mouettes, #img-hotel-mer, #img-auberge-panier, #img-hotel-amina {
        max-width: 90%;
        height: 70%;
     }
     .sec-3, #activiter, .activiter {
        max-width: 100%;
     }
     .img-medium {
        max-width: 100%;
    }
    .img-big {
        max-width: 100%;
    }
    .imga {
        max-height: 100%;
        max-width: 130px;
    }
    .hebergement-populaire {
        max-height: 140px;
    }
    .brplus {
        margin: 0;
    }
}

@media screen and (max-width: 1128px) {
    .filtermarg {
        margin: 10px;
    }
    .imga {
        display: flex;
        max-height: 140px;
    }
    #endall {
        margin: 0;
    }
    .part-1 {
        display: flex;
        flex-direction: column-reverse;
    }
    .room, .room-top {
        max-width: 100%;
        padding: 15px;
     }
     .room-top {
        margin-bottom: 40px;
     }
     .sec-2 {
        margin: 0;
    }
}
@media screen and (max-width: 800px) {
     .activiter {
        display: flex;
        flex-wrap: wrap;
    }
    .shadow {
        max-width: 320px;
    }
}
@media screen and (max-width: 768px) {
    .btn {
        display: inline-block;
        visibility: hidden;
    }
    #searchresponsive {
        display: flex;
        margin-bottom: 15px;
    }
    .btn:before {
        visibility: visible;
        font-family: FontAwesome; 
        content: "\f002";
        color: #0065FC;
        font-size: 20px;
        border-radius: 10px;
        background-color: #0065FC;
        color: white;
        padding: 10px;
        max-width: 80px;
    }
    .filterresponsive {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 200px;
    }
    .filtermarg {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
    }
    .filtermarg:nth-of-type(1) {
        order: 0;
        margin-left: 0;
    } 
    .filtermarg:nth-of-type(2) {
        order: 1;
        margin-left: 0;
    } 
    .filtermarg:nth-of-type(3) {
        order: 0;
        margin-left: 0;
    } 
    .filtermarg:nth-of-type(4) {
        order: 0;
        margin-left: 0;
    } 
    .filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1em;
    }
    a.color-blue:hover {
        border-top: none;
        padding-top: 0px;
    }
    .color-blue:focus-within {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        padding-bottom: 21px;
    }
    .hebergement-populaire, #h2pop, #title-marseille, .shadow {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    nav {
         margin-left: 0px;
         height: 145px; 
         margin-bottom: 0px; 
         min-width: 120px; 
         max-width: 320px;
    }
    #activites {
        min-width: 50%; 
        text-align: center;
        position: absolute; 
        top: 110px; 
        left: 50%; 
        border-bottom: #f2f2f2 2px solid; 
        margin: 0 0 0 0; 
        padding: 0 0 10px 0;
    }
    #nav-top {
        display: block;
    }

    #nav-bas-g {
        min-width: 50%; 
        text-align: center; 
        position: absolute;
        top: 110px; 
        left: 0%;
        border-bottom: #f2f2f2 2px solid;
        margin: 0 0 0 0;
        padding: 0 0 10px 0;
    }
    #inscrip {
        position: absolute;
        margin:0px;
        top: 45px;
        right: 30px;
    }
    .logo {
        margin-bottom: 75px;
        margin-left: -18px;
    }  
    .room {
        background-color: transparent;
        display: block;
    }
    .img {
        width: 100%;
    }
    #img-auberge-cannebiere, #img-hotel-port, #img-hotel-mouettes, #img-hotel-mer, #img-auberge-panier, #img-hotel-amina {
        max-width: 100%;
        height: 100%;
        margin-top: 40px;
     }
     #aff {
        margin-top: 25px;
        margin-left: 0;
    }
    header {
        font-size: 1.2em;
    }
    #endall {
        min-width: 300px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
    }
    .nos-hebergements {
        margin: 0;
    }
    #inforesponsive {
        display: flex;
    }
}

@media screen and (max-width: 740px) {
    .activiter {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 2000px;
    }
}
@media screen and (max-width: 700px) {
    .activiter {  
        flex-wrap: nowrap;
        max-height: none;
    }
    .img-big, .img-medium, #img-frioul, #img-pomegues {
        height: 250px;
        width: 610px;
    }
    .img {
        height: 250px;
    }
    .shadow {
        max-width: 610px;
    }
}
@media screen and (max-width: 550px) {
    body {
        font-size: 0.8em;
        overflow-x: hidden;
    }
    .img-big, .img-medium, #img-frioul, #img-pomegues {
        height: 150px;
        min-width: 100%;
    }

    .shadow {
        min-width: 100%;
    }
    #img-auberge-cannebiere, #img-hotel-port, #img-hotel-mouettes, #img-hotel-mer, #img-auberge-panier, #img-hotel-amina {
        max-width: 100%;
        max-height: 70%;
        margin-top: 40px;
     }
     .img {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 320px) {
    .filtermarg {
        margin: 6px;
        font-size: 0.9em;
        max-width: 140px;
    }
    .imga {
        max-width: 110px;
        max-height: 110px;
    }
    .hebergement-populaire {
        max-height: 110px;
    }
    .text-align-start {
        margin: 10px;
    }
    html {
        overflow-x: hidden;
    }
}
